# rules
--enable headerFileName
--enable isEmpty
--disable andOperator
--disable wrapMultilineStatementBraces
--exclude Pods 

# format options
--self insert
--indent 4
--commas inline
--decimalgrouping 3,5
--exponentcase lowercase
--exponentgrouping disabled
--extensionacl on-declarations
--fractiongrouping disabled
--ifdef no-indent
--importgrouping testable-first
--operatorfunc no-space
--nospaceoperators ..<, ...
--stripunusedargs closure-only
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
--funcattributes prev-line